<script type="text/template" class="image-modal-template">
	<div class="image modal">
		<span class="close"></span>
		<div class="container">
			<img src="<%- full[0] %>" alt="<%- caption %>"/>
			<p class="caption"><%- caption %></p>
		</div>
	</div>
</script>