/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, style/sass/speed-bump.scss */
.speed-bump {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #bbbbbb;
  color: black;
  opacity: 1;
  margin-top: 1px;
  transition: 750ms all linear;
  z-index: 0;
  line-height: 1.3em;
  font-size: 12px;
}
/* line 26, style/sass/speed-bump.scss */
.speed-bump .container {
  width: 600px;
  height: 200px;
  max-height: 90vh;
  max-width: 90vw;
  padding: 40px;
  position: absolute;
  display: block;
  background: #f8f8f8;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-top: 4px solid #ddd;
}
/* line 43, style/sass/speed-bump.scss */
.speed-bump.closed {
  opacity: 0;
  z-index: -1;
  margin-top: -100%;
}
/* line 49, style/sass/speed-bump.scss */
.speed-bump .close {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  background-image: url("style/images/icon-close-white.png");
  background-size: cover;
}
/* line 62, style/sass/speed-bump.scss */
.speed-bump .close:hover {
  background-image: url("style/images/icon-close-blue.png");
}
/* line 68, style/sass/speed-bump.scss */
.speed-bump span {
  display: inline-block;
}
/* line 70, style/sass/speed-bump.scss */
.speed-bump span.heading {
  font-weight: bold;
}
/* line 75, style/sass/speed-bump.scss */
.speed-bump h2 {
  font-size: 18px;
  color: black;
  margin-bottom: 10px;
}
/* line 81, style/sass/speed-bump.scss */
.speed-bump nav {
  margin-top: 1em;
}
/* line 83, style/sass/speed-bump.scss */
.speed-bump nav li {
  display: inline-block;
  margin-right: 1em;
  font-size: 16px;
}
/* line 88, style/sass/speed-bump.scss */
.speed-bump nav li.continue a {
  display: block;
  background: #333;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}
/* line 97, style/sass/speed-bump.scss */
.speed-bump nav li.stay {
  color: red;
}

/* line 106, style/sass/speed-bump.scss */
#speedbump.external #external-link {
  display: block;
}
/* line 107, style/sass/speed-bump.scss */
#speedbump.external #email-link {
  display: none;
}
/* line 110, style/sass/speed-bump.scss */
#speedbump.email #external-link {
  display: none;
}
/* line 111, style/sass/speed-bump.scss */
#speedbump.email #email-link {
  display: block;
}
