<div class="site-wrapper">
	{# {{ menu }} #}
	<header><img class="logo" src="{{ theme.path }}/style/images/GiStrat_logo_white.svg" width="190"/></header>
	<section class="content">
		<div class="container">
			{{ post.content }}
		</div>
	</section>
	<section class="form">
		<div class="container">
			{{ form }}
{# 			<h2>Sign up to stay informed.</h2>
			<p>In early 2016 we will launch our new site with forecasts on some of the world's most important and challenging issues.</p>
			<p class="email">[email* email placeholder "Email"]</p>
			<p class="personal-info">[text* firstname placeholder "First Name"][text* lastname placeholder "Last Name"][text* company placeholder "Company"]</p> 
			<p class="submit">[submit "Submit"]</p> #}
		</div>
	</section>
</div>