<a href="http://elefint.com" title="Elefint" target="_blank" class="elefintlogo">
  <!--[if gte IE 9]><!-->
  <div class="elefint-mark">
    <span class="mark-text">Designed By</b></span>
   {% include 'views/svg/elefint-mark.svg' %}
</div>
</a>