{% set hero = post.get_field('hero')[0] %}
{% if hero.image %}
	{% include ('view/layout/' ~ hero.acf_fc_layout ~ '.twig') %}
<section class="page-content">
{% else %}
<section class="page-content no-hero">
{% endif %}
	<div class="container">
		<h1>{{ post.title }}</h1>
		{% for layout in post.get_field('layouts') %}
			{% include ('view/layout/' ~ layout.acf_fc_layout ~ '.twig') %}
		{% endfor %}
	</div>
</section>
{% if post.show_contact_form %}
	{% include ('view/layout/contact_form.twig') %}
{% endif %}
{% include 'view/js_template/image_modal.twig' %}