{% set notice = notice[0] %}
{% if notice %}
<div class="site-notice closed" data-notice-id="{{ notice.ID }}">
	<div class="container">
		<div class="notice-text">
			<span class="heading">{{ notice.post_title }}</span>
			{{ notice.post_content }}
		</div>
		<button class="close"></button>
	</div>
</div>
{% endif %}