/* 
	Theme Name: Splash Pages - Fint16 Child Theme
	Template: Fint16 
*/
/* line 16, style/sass/_grids.scss */
.container {
  width: 1024px;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
/* line 12, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.3/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}
@media (max-width: 800px) {
  /* line 16, style/sass/_grids.scss */
  .container {
    width: calc( 100% - 88px );
  }
}
@media (max-width: 600px) {
  /* line 16, style/sass/_grids.scss */
  .container {
    width: calc( 100% - 40px );
  }
}

/** Brand Styles **/
/* line 1, style/sass/_global.scss */
body:not(.home) {
  padding-top: 90px;
}
/* line 41, style/sass/_global.scss */
body:not(.home) header.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  -moz-border-image: url(style/images/hash-border.png) 11 0 repeat;
  /* Old Firefox */
  -webkit-border-image: url(style/images/hash-border.png) 11 0 repeat;
  /* Safari */
  -o-border-image: url(style/images/hash-border.png) 11 0 repeat;
  /* Opera */
  border-image: url(style/images/hash-border.png) 11 0 repeat;
  border-top: 11px solid transparent;
  z-index: 9999;
}
@media (max-width: 600px) {
  /* line 41, style/sass/_global.scss */
  body:not(.home) header.site-header {
    border-top: 0;
  }
}
/* line 54, style/sass/_global.scss */
body:not(.home) header.site-header::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #0d92ff;
}
/* line 64, style/sass/_global.scss */
body:not(.home) header.site-header .logo-box {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
}
/* line 67, style/sass/_global.scss */
body:not(.home) header.site-header .logo {
  background-image: url(style/images/GiStrat_logo.svg);
  background-repeat: no-repeat;
  background-position: left center;
  display: inline-block;
  float: left;
  width: 150px;
  height: 50px;
  margin: 13px 0;
}
/* line 76, style/sass/_global.scss */
body:not(.home) header.site-header .logo.small {
  background-image: url(style/images/small-logo.svg);
}
/* line 80, style/sass/_global.scss */
body:not(.home) header.site-header nav {
  display: inline-block;
  vertical-align: middle;
  width: 74.57627%;
  float: right;
  margin-right: 0;
}
/* line 84, style/sass/_global.scss */
body:not(.home) header.site-header nav li {
  display: inline-block;
}
/* line 86, style/sass/_global.scss */
body:not(.home) header.site-header nav li a {
  color: #00325c;
  font-family: "akzidenz-grotesk";
  font-weight: 700;
  font-size: 1rem;
  display: inline-block;
  padding: 27px 20px;
  text-decoration: none;
  border-top: 11px solid transparent;
  margin-top: -11px;
}
@media (max-width: 600px) {
  /* line 86, style/sass/_global.scss */
  body:not(.home) header.site-header nav li a {
    font-size: 1rem;
  }
}
/* line 93, style/sass/_global.scss */
body:not(.home) header.site-header nav li a:hover {
  border-top-color: #0d92ff;
}
@media (max-width: 800px) {
  /* line 80, style/sass/_global.scss */
  body:not(.home) header.site-header nav {
    display: none;
  }
}
/* line 104, style/sass/_global.scss */
body:not(.home) header.site-header .mobile-menu {
  display: block;
  max-height: 0px;
  min-height: 0vh;
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: 0;
}
/* line 112, style/sass/_global.scss */
body:not(.home) header.site-header .mobile-menu nav {
  display: block;
  padding: 20px 0;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.3/sass/susy/output/support/_clearfix.scss */
body:not(.home) header.site-header .mobile-menu nav:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 116, style/sass/_global.scss */
body:not(.home) header.site-header .mobile-menu nav li {
  display: block;
  text-align: left;
}
/* line 119, style/sass/_global.scss */
body:not(.home) header.site-header .mobile-menu nav li a {
  color: white;
  border-bottom: 2px solid transparent;
  font-size: 1.833334em;
  width: 66.10169%;
  border-bottom: 2px solid transparent;
  border-top: 0;
  margin-top: .5em;
}
/* line 127, style/sass/_global.scss */
body:not(.home) header.site-header .mobile-menu nav li a:hover {
  border-bottom: 2px solid white;
}
@media (max-width: 800px) {
  /* line 104, style/sass/_global.scss */
  body:not(.home) header.site-header .mobile-menu {
    display: block;
    width: 100%;
    overflow: hidden;
    background: rgba(13, 146, 255, 0.8);
    padding: 0;
    -moz-transition: linear 0.25s;
    -o-transition: linear 0.25s;
    -webkit-transition: linear 0.25s;
    transition: linear 0.25s;
  }
  /* line 141, style/sass/_global.scss */
  body:not(.home) header.site-header .mobile-menu.open {
    min-height: 100vh;
    max-height: 9999px;
  }
}
@media (max-width: 600px) {
  /* line 148, style/sass/_global.scss */
  body:not(.home) header.site-header .mobile-menu nav li a {
    font-size: 1.55556rem;
  }
}
/* line 152, style/sass/_global.scss */
body:not(.home) header.site-header .menu-button {
  display: none;
  width: 22px;
  height: 22px;
  right: 0;
  top: 0;
  bottom: 0;
  left: auto;
  margin: auto;
  position: absolute;
  background: url(style/images/icons/menu-button.png) no-repeat;
  background-position: center center;
}
/* line 165, style/sass/_global.scss */
body:not(.home) header.site-header .menu-button.open {
  background-image: url(style/images/icons/menu-close.png);
}
@media (max-width: 800px) {
  /* line 152, style/sass/_global.scss */
  body:not(.home) header.site-header .menu-button {
    display: block;
  }
}
/* line 174, style/sass/_global.scss */
body:not(.home).admin-bar {
  padding-top: 92px;
}
/* line 176, style/sass/_global.scss */
body:not(.home).admin-bar header.site-header {
  top: 32px;
}
/* line 181, style/sass/_global.scss */
body:not(.home) .hero {
  background-size: cover;
  -moz-border-image: url(style/images/hash-border.png) 11 0 repeat;
  /* Old Firefox */
  -webkit-border-image: url(style/images/hash-border.png) 11 0 repeat;
  /* Safari */
  -o-border-image: url(style/images/hash-border.png) 11 0 repeat;
  /* Opera */
  border-image: url(style/images/hash-border.png) 11 0 repeat;
  border-bottom: 11px solid transparent;
  max-width: 1024px;
  margin: 0 auto 60px;
  overflow: hidden;
}
@media (max-width: 800px) {
  /* line 181, style/sass/_global.scss */
  body:not(.home) .hero {
    max-width: 100%;
  }
}
/* line 193, style/sass/_global.scss */
body:not(.home) .hero img {
  display: block;
  height: auto;
  width: 100%;
}
@media (max-width: 800px) {
  /* line 193, style/sass/_global.scss */
  body:not(.home) .hero img {
    width: auto;
    height: 85vw;
  }
}
/* line 53, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_selection.scss */
body:not(.home) .page-content *::-moz-selection {
  color: white;
  background-color: #0d92ff;
}
/* line 53, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_selection.scss */
body:not(.home) .page-content *::selection {
  color: white;
  background-color: #0d92ff;
}
/* line 210, style/sass/_global.scss */
body:not(.home) .page-content.no-hero {
  padding-top: 40px;
}
/* line 216, style/sass/_global.scss */
body:not(.home) .page-content .container > *::after {
  content: '';
  display: block;
  clear: both;
}
/* line 222, style/sass/_global.scss */
body:not(.home) .page-content .alignright {
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
}
@media (max-width: 600px) {
  /* line 222, style/sass/_global.scss */
  body:not(.home) .page-content .alignright {
    float: left;
    width: 100% !important;
    text-align: center;
    margin: 20px 0;
  }
}
/* line 233, style/sass/_global.scss */
body:not(.home) .page-content .alignleft {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
/* line 239, style/sass/_global.scss */
body:not(.home) .page-content strong {
  font-weight: 700;
}
/* line 243, style/sass/_global.scss */
body:not(.home) .page-content h1 {
  color: #0d92ff;
  font-family: "akzidenz-grotesk";
  font-weight: 700;
  font-size: 2.875rem;
  line-height: 3.063rem;
  font-size: 2.875rem;
  margin-bottom: 25px;
}
@media (max-width: 600px) {
  /* line 243, style/sass/_global.scss */
  body:not(.home) .page-content h1 {
    font-size: 2.375rem;
  }
}
/* line 249, style/sass/_global.scss */
body:not(.home) .page-content h2 {
  color: #00325c;
  font-family: "akzidenz-grotesk";
  font-weight: 700;
  font-size: 1.55rem;
  font-size: 2.125rem;
  margin-bottom: .5rem;
}
@media (max-width: 600px) {
  /* line 249, style/sass/_global.scss */
  body:not(.home) .page-content h2 {
    font-size: 1.75rem;
  }
}
/* line 255, style/sass/_global.scss */
body:not(.home) .page-content h3 {
  color: #0d92ff;
  font-family: "akzidenz-grotesk";
  font-weight: 700;
  font-size: 1.375rem;
  margin-bottom: .5rem;
}
@media (max-width: 600px) {
  /* line 255, style/sass/_global.scss */
  body:not(.home) .page-content h3 {
    font-size: 1.25rem;
  }
}
/* line 260, style/sass/_global.scss */
body:not(.home) .page-content h4 {
  color: #0d92ff;
  font-family: "akzidenz-grotesk";
  font-weight: 700;
  font-size: .88em;
  text-transform: uppercase;
  margin-bottom: 0em;
}
@media (max-width: 600px) {
  /* line 260, style/sass/_global.scss */
  body:not(.home) .page-content h4 {
    font-size: 1rem;
  }
}
/* line 264, style/sass/_global.scss */
body:not(.home) .page-content h5 {
  color: #00325c;
  font-family: "akzidenz-grotesk";
  font-weight: 700;
  font-size: .88em;
  margin-bottom: .5em;
}
@media (max-width: 600px) {
  /* line 264, style/sass/_global.scss */
  body:not(.home) .page-content h5 {
    font-size: 1rem;
  }
}
/* line 268, style/sass/_global.scss */
body:not(.home) .page-content blockquote {
  border: 1px solid #d2d2d2;
  border-width: 1px 0px;
  color: #969696;
  margin: 40px 0;
  padding: 40px 0;
  width: 83.05085%;
  font-weight: bold;
}
/* line 276, style/sass/_global.scss */
body:not(.home) .page-content blockquote h2 {
  color: #969696;
  line-height: 1.235295em;
}
@media (max-width: 600px) {
  /* line 268, style/sass/_global.scss */
  body:not(.home) .page-content blockquote {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
  /* line 282, style/sass/_global.scss */
  body:not(.home) .page-content blockquote h2 {
    font-size: 22px;
  }
}
/* line 288, style/sass/_global.scss */
body:not(.home) .page-content .wp-caption img {
  width: 100%;
  height: auto;
  display: block;
  cursor: pointer;
}
/* line 289, style/sass/_global.scss */
body:not(.home) .page-content .wp-caption .wp-caption-text {
  background: #00325c;
  color: white;
  font-size: .667rem;
  line-height: 1em;
  padding: 10px;
  text-align: left;
}
@media (max-width: 600px) {
  /* line 289, style/sass/_global.scss */
  body:not(.home) .page-content .wp-caption .wp-caption-text {
    font-size: 0.75rem;
  }
}
/* line 303, style/sass/_global.scss */
body:not(.home) .page-content .content {
  margin-top: 1.5em;
}
/* line 305, style/sass/_global.scss */
body:not(.home) .page-content .content ul {
  padding: 1em 0;
}
/* line 307, style/sass/_global.scss */
body:not(.home) .page-content .content ul li {
  display: list-item;
  list-style: disc inside;
  list-style-position: outside;
  margin-left: 1em;
  margin-bottom: 1em;
}
/* line 313, style/sass/_global.scss */
body:not(.home) .page-content .content ul li:last-of-type {
  margin-bottom: 0;
}
/* line 316, style/sass/_global.scss */
body:not(.home) .page-content .content ul li ol, body:not(.home) .page-content .content ul li ul {
  padding: 1em .5em .5em;
  margin-left: 2em;
}
/* line 321, style/sass/_global.scss */
body:not(.home) .page-content .content ul li ol li {
  list-style-type: none;
  counter-increment: list;
  position: relative;
}
/* line 327, style/sass/_global.scss */
body:not(.home) .page-content .content ul li ol li:after {
  content: counter(list) ".";
  position: absolute;
  left: -2.5em;
  top: 0;
  width: 2em;
  text-align: right;
  color: #0d92ff;
}
/* line 341, style/sass/_global.scss */
body:not(.home) .page-content .read-more {
  display: inline-block;
  background: #0d92ff;
  color: white;
  padding: 10px;
  margin-top: 2em;
  text-decoration: none;
  color: white;
  font-family: "akzidenz-grotesk";
  font-weight: 700;
  font-size: .88em;
}
@media (max-width: 600px) {
  /* line 341, style/sass/_global.scss */
  body:not(.home) .page-content .read-more {
    font-size: 1rem;
  }
}
/* line 350, style/sass/_global.scss */
body:not(.home) .page-content .section-divider {
  height: 1em;
  border-top: 1px solid #d2d2d2;
  width: 100%;
  margin: 4em 0 2em;
}
/* line 355, style/sass/_global.scss */
body:not(.home) .page-content .section-divider .heading {
  display: block;
  margin-top: -17px;
  margin-left: 1em;
  background: #4b2d91;
  width: 170px;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  color: white;
  font-family: "akzidenz-grotesk";
  font-weight: 700;
  font-size: .88em;
}
@media (max-width: 600px) {
  /* line 355, style/sass/_global.scss */
  body:not(.home) .page-content .section-divider .heading {
    font-size: 1rem;
  }
}
/* line 369, style/sass/_global.scss */
body:not(.home) .page-content .two-column {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  -moz-column-gap: 30px;
  -webkit-column-gap: 30px;
  column-gap: 30px;
}
@media (max-width: 600px) {
  /* line 369, style/sass/_global.scss */
  body:not(.home) .page-content .two-column {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}
/* line 378, style/sass/_global.scss */
body:not(.home) .page-content .profile {
  margin: 120px 0 40px;
}
/* line 380, style/sass/_global.scss */
body:not(.home) .page-content .profile .thumbnail {
  background: #0d92ff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid #0d92ff;
  margin-right: 1em;
  float: left;
  display: block;
}
/* line 388, style/sass/_global.scss */
body:not(.home) .page-content .profile img {
  display: block;
}
/* line 391, style/sass/_global.scss */
body:not(.home) .page-content .profile .details {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
}
/* line 393, style/sass/_global.scss */
body:not(.home) .page-content .profile .details h5 {
  font-size: 1.22222em;
  display: inline-block;
  color: #0d92ff;
  padding-right: 10px;
  margin-bottom: 0;
}
/* line 400, style/sass/_global.scss */
body:not(.home) .page-content .profile .details .social {
  border-left: 1px solid #d2d2d2;
  display: inline-block;
  padding: 0 10px;
  line-height: 1em;
}
/* line 405, style/sass/_global.scss */
body:not(.home) .page-content .profile .details .social a {
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  width: 20px;
  margin-right: 5px;
  text-decoration: none;
  color: #969696;
  text-align: center;
  -moz-transition: linear 0.2s;
  -o-transition: linear 0.2s;
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
}
/* line 417, style/sass/_global.scss */
body:not(.home) .page-content .profile .details .social a:hover {
  color: #0d92ff;
}
/* line 420, style/sass/_global.scss */
body:not(.home) .page-content .profile .details .social a .icon-envelope {
  font-size: 16px;
}
/* line 425, style/sass/_global.scss */
body:not(.home) .page-content .profile .details .title {
  font-size: .8em;
  color: #969696;
  margin-bottom: 10px;
  line-height: 1.3em;
}
/* line 432, style/sass/_global.scss */
body:not(.home) .page-content .profile .description {
  color: #969696;
  line-height: 1.3em;
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
}
@media (max-width: 600px) {
  /* line 439, style/sass/_global.scss */
  body:not(.home) .page-content .profile .thumbnail {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 441, style/sass/_global.scss */
  body:not(.home) .page-content .profile .thumbnail img {
    width: 100%;
    height: auto;
  }
  /* line 446, style/sass/_global.scss */
  body:not(.home) .page-content .profile .details {
    width: 66.10169%;
    float: right;
    margin-right: 0;
  }
  /* line 448, style/sass/_global.scss */
  body:not(.home) .page-content .profile .details .social {
    border-left: none;
    padding: 0;
    margin-bottom: 10px;
  }
  /* line 454, style/sass/_global.scss */
  body:not(.home) .page-content .profile .description {
    clear: both;
    margin-top: 1em;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
/* line 461, style/sass/_global.scss */
body:not(.home) .page-content .profile::after {
  content: "";
  display: block;
  clear: both;
}
/* line 468, style/sass/_global.scss */
body:not(.home) .page-content .gallery.cycle-slideshow {
  padding: 20px 0;
}
/* line 471, style/sass/_global.scss */
body:not(.home) .page-content .gallery.cycle-slideshow h2 {
  color: #0d92ff;
  font-family: "akzidenz-grotesk";
  font-weight: 700;
  font-size: 2.875rem;
  line-height: 3.063rem;
  margin-bottom: 1em;
}
@media (max-width: 600px) {
  /* line 471, style/sass/_global.scss */
  body:not(.home) .page-content .gallery.cycle-slideshow h2 {
    font-size: 2.375rem;
  }
}
/* line 476, style/sass/_global.scss */
body:not(.home) .page-content .gallery.cycle-slideshow .cycle-slide {
  width: 100%;
}
/* line 478, style/sass/_global.scss */
body:not(.home) .page-content .gallery.cycle-slideshow .cycle-slide .slide-container {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
/* line 481, style/sass/_global.scss */
body:not(.home) .page-content .gallery.cycle-slideshow .cycle-slide .slide-container > * {
  display: inline-block;
}
/* line 488, style/sass/_global.scss */
body:not(.home) .page-content .gallery.cycle-slideshow .pager-container #cycle-prev, body:not(.home) .page-content .gallery.cycle-slideshow .pager-container #cycle-next {
  margin: auto;
  width: 26px;
  height: 49px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  cursor: pointer;
  z-index: 1000;
}
/* line 498, style/sass/_global.scss */
body:not(.home) .page-content .gallery.cycle-slideshow .pager-container #cycle-prev {
  background: url(style/images/arrow-left.png);
  left: 0;
  right: auto;
}
/* line 503, style/sass/_global.scss */
body:not(.home) .page-content .gallery.cycle-slideshow .pager-container #cycle-next {
  background: url(style/images/arrow-right.png);
  left: auto;
  right: 0;
}
/* line 508, style/sass/_global.scss */
body:not(.home) .page-content .gallery.cycle-slideshow .pager-container .cycle-pager {
  display: none;
}
/* line 514, style/sass/_global.scss */
body:not(.home) .page-content .thumbnail-slider {
  margin: 60px 0;
}
/* line 516, style/sass/_global.scss */
body:not(.home) .page-content .thumbnail-slider h2 {
  color: #0d92ff;
  font-family: "akzidenz-grotesk";
  font-weight: 700;
  font-size: 2.875rem;
  line-height: 3.063rem;
  margin-bottom: 40px;
}
@media (max-width: 600px) {
  /* line 516, style/sass/_global.scss */
  body:not(.home) .page-content .thumbnail-slider h2 {
    font-size: 2.375rem;
  }
}
/* line 521, style/sass/_global.scss */
body:not(.home) .page-content .thumbnail-slider .gallery .cycle-slide {
  padding: 0 60px;
}
/* line 523, style/sass/_global.scss */
body:not(.home) .page-content .thumbnail-slider .gallery .cycle-slide .slide-container {
  -webkit-flex-direction: row;
  flex-direction: row;
}
/* line 528, style/sass/_global.scss */
body:not(.home) .page-content .thumbnail-slider .gallery .cycle-slide .thumbnail {
  width: 40.67797%;
  margin-right: 1.69492%;
  text-align: center;
  -webkit-flex: 1;
  flex: 1;
}
/* line 535, style/sass/_global.scss */
body:not(.home) .page-content .thumbnail-slider .gallery .cycle-slide .text {
  width: 57.62712%;
  -webkit-flex: 2 1;
  flex: 2 1;
}
@media (max-width: 600px) {
  /* line 541, style/sass/_global.scss */
  body:not(.home) .page-content .thumbnail-slider .gallery .cycle-slide {
    padding: 0;
  }
  /* line 543, style/sass/_global.scss */
  body:not(.home) .page-content .thumbnail-slider .gallery .cycle-slide .slide-container {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  /* line 545, style/sass/_global.scss */
  body:not(.home) .page-content .thumbnail-slider .gallery .cycle-slide .slide-container .thumbnail {
    padding: 20px 0;
  }
  /* line 548, style/sass/_global.scss */
  body:not(.home) .page-content .thumbnail-slider .gallery .cycle-slide .slide-container .thumbnail, body:not(.home) .page-content .thumbnail-slider .gallery .cycle-slide .slide-container .text {
    width: 100%;
  }
  /* line 554, style/sass/_global.scss */
  body:not(.home) .page-content .thumbnail-slider .gallery .pager-container #cycle-prev, body:not(.home) .page-content .thumbnail-slider .gallery .pager-container #cycle-next {
    top: 20px;
    bottom: auto;
  }
}
/* line 565, style/sass/_global.scss */
body:not(.home) .page-content .gallery-slider .gallery.cycle-slideshow .cycle-slide .slide-container {
  -webkit-flex-direction: column;
  flex-direction: column;
}
/* line 567, style/sass/_global.scss */
body:not(.home) .page-content .gallery-slider .gallery.cycle-slideshow .cycle-slide .slide-container img, body:not(.home) .page-content .gallery-slider .gallery.cycle-slideshow .cycle-slide .slide-container .caption {
  width: 100%;
}
/* line 570, style/sass/_global.scss */
body:not(.home) .page-content .gallery-slider .gallery.cycle-slideshow .cycle-slide .slide-container img {
  height: auto;
  min-height: 0;
}
/* line 574, style/sass/_global.scss */
body:not(.home) .page-content .gallery-slider .gallery.cycle-slideshow .cycle-slide .slide-container .caption {
  color: white;
  background-color: #00325c;
  padding: 10px;
  font-size: .75rem;
  line-height: 1.16667em;
}
/* line 584, style/sass/_global.scss */
body:not(.home) .page-content .gallery-slider .gallery.cycle-slideshow .pager-container #cycle-prev, body:not(.home) .page-content .gallery-slider .gallery.cycle-slideshow .pager-container #cycle-next {
  height: 40px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}
@media (max-width: 600px) {
  /* line 584, style/sass/_global.scss */
  body:not(.home) .page-content .gallery-slider .gallery.cycle-slideshow .pager-container #cycle-prev, body:not(.home) .page-content .gallery-slider .gallery.cycle-slideshow .pager-container #cycle-next {
    top: 55px;
    bottom: auto;
  }
}
/* line 594, style/sass/_global.scss */
body:not(.home) .page-content .gallery-slider .gallery.cycle-slideshow .pager-container #cycle-prev {
  background: url(style/images/arrow-left-blue.png);
  left: 20px;
}
/* line 598, style/sass/_global.scss */
body:not(.home) .page-content .gallery-slider .gallery.cycle-slideshow .pager-container #cycle-next {
  background: url(style/images/arrow-right-blue.png);
  right: 20px;
}
/* line 608, style/sass/_global.scss */
body:not(.home) .contact-form {
  display: block;
  border: 15px solid transparent;
  border-width: 11px 0;
  margin: 40px auto;
  -moz-border-image: url(style/images/hash-border.png) 11 0 repeat;
  /* Old Firefox */
  -webkit-border-image: url(style/images/hash-border.png) 11 0 repeat;
  /* Safari */
  -o-border-image: url(style/images/hash-border.png) 11 0 repeat;
  /* Opera */
  border-image: url(style/images/hash-border.png) 11 0 repeat;
}
/* line 614, style/sass/_global.scss */
body:not(.home) .contact-form .wpcf7 {
  background-color: white;
  padding: 60px 0;
}
/* line 617, style/sass/_global.scss */
body:not(.home) .contact-form .wpcf7 h2, body:not(.home) .contact-form .wpcf7 p {
  width: 49.15254%;
  margin: auto;
  text-align: center;
}
/* line 622, style/sass/_global.scss */
body:not(.home) .contact-form .wpcf7 h2 {
  color: #00325c;
  font-family: "akzidenz-grotesk";
  font-weight: 700;
  font-size: 1.55rem;
  font-size: 1.75rem;
  margin-bottom: 1.69492%;
  text-align: center;
  line-height: 1.3em;
}
@media (max-width: 600px) {
  /* line 622, style/sass/_global.scss */
  body:not(.home) .contact-form .wpcf7 h2 {
    font-size: 1.75rem;
  }
}
@media (max-width: 800px) {
  /* line 622, style/sass/_global.scss */
  body:not(.home) .contact-form .wpcf7 h2 {
    font-size: 2.125rem;
  }
}
/* line 635, style/sass/_global.scss */
body:not(.home) .contact-form .wpcf7 p.excerpt {
  width: 49.15254%;
  margin-bottom: 5.08475%;
  font-size: 0.875rem;
  line-height: 1.0625rem;
}
@media (max-width: 600px) {
  /* line 635, style/sass/_global.scss */
  body:not(.home) .contact-form .wpcf7 p.excerpt {
    width: 83.05085%;
  }
}
/* line 645, style/sass/_global.scss */
body:not(.home) .contact-form .wpcf7 p.email {
  margin-bottom: 5.08475%;
}
/* line 646, style/sass/_global.scss */
body:not(.home) .contact-form .wpcf7 p.personal-info {
  color: #95989b;
  font-size: 18px;
  font-family: "proxima-nova",sans-serif;
  line-height: 24px;
  font-size: .75rem;
  width: 83.05085%;
  margin: auto;
  max-height: 0px;
  text-align: center;
  overflow: hidden;
  -webkit-transition: all .5s;
  transition: all .5s;
}
/* line 659, style/sass/_global.scss */
body:not(.home) .contact-form .wpcf7 p.personal-info.active {
  max-height: 9999px;
  margin-bottom: 5.08475%;
  opacity: 1;
  -webkit-transition: all .5s;
  transition: all .5s;
}
/* line 667, style/sass/_global.scss */
body:not(.home) .contact-form .wpcf7 p.personal-info span {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
}
/* line 669, style/sass/_global.scss */
body:not(.home) .contact-form .wpcf7 p.personal-info span input {
  width: 100%;
  margin-bottom: 10px;
}
/* line 673, style/sass/_global.scss */
body:not(.home) .contact-form .wpcf7 p.personal-info span:last-of-type {
  width: 32.20339%;
  float: right;
  margin-right: 0;
}
@media (max-width: 600px) {
  /* line 677, style/sass/_global.scss */
  body:not(.home) .contact-form .wpcf7 p.personal-info span:not(:last-of-type), body:not(.home) .contact-form .wpcf7 p.personal-info span:last-of-type {
    display: block;
    float: none;
    margin: auto;
    width: 100%;
    margin-bottom: 5.08475%;
  }
}
/* line 689, style/sass/_global.scss */
body:not(.home) .contact-form .wpcf7 input[type="text"], body:not(.home) .contact-form .wpcf7 input[type="email"] {
  color: #95989b;
  font-size: 18px;
  font-family: "proxima-nova",sans-serif;
  line-height: 24px;
  font-size: .75rem;
  border: none;
  border-bottom: 1px solid #95989b;
  outline: none;
  max-width: 100%;
  display: block;
  margin: 0;
  width: 100%;
}
/* line 61, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
body:not(.home) .contact-form .wpcf7 input[type="text"]:-moz-placeholder, body:not(.home) .contact-form .wpcf7 input[type="email"]:-moz-placeholder {
  text-transform: uppercase;
  color: #95989b;
}
/* line 64, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
body:not(.home) .contact-form .wpcf7 input[type="text"]::-moz-placeholder, body:not(.home) .contact-form .wpcf7 input[type="email"]::-moz-placeholder {
  text-transform: uppercase;
  color: #95989b;
}
/* line 67, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
body:not(.home) .contact-form .wpcf7 input[type="text"]:-ms-input-placeholder, body:not(.home) .contact-form .wpcf7 input[type="email"]:-ms-input-placeholder {
  text-transform: uppercase;
  color: #95989b;
}
/* line 56, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
body:not(.home) .contact-form .wpcf7 input[type="text"]::-webkit-input-placeholder, body:not(.home) .contact-form .wpcf7 input[type="email"]::-webkit-input-placeholder {
  text-transform: uppercase;
  color: #95989b;
}
/* line 692, style/sass/_global.scss */
body:not(.home) .contact-form .wpcf7 input[type="submit"] {
  padding: 10px 15px;
  background-color: #0d92ff;
  border: none;
  color: white;
  cursor: pointer;
  font-family: "proxima-nova",sans-serif;
  font-size: 1rem;
  font-weight: 600;
}
/* line 696, style/sass/_global.scss */
body:not(.home) .contact-form .wpcf7 img.ajax-loader {
  display: block;
  margin: auto;
  margin-top: 5px;
}
@media (max-width: 600px) {
  /* line 703, style/sass/_global.scss */
  body:not(.home) .contact-form .wpcf7 h2, body:not(.home) .contact-form .wpcf7 p, body:not(.home) .contact-form .wpcf7 p.personal-info {
    width: 83.05085%;
  }
  /* line 704, style/sass/_global.scss */
  body:not(.home) .contact-form .wpcf7 span {
    width: 100%;
  }
}

/* line 711, style/sass/_global.scss */
.footer-bottom {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: baseline;
  align-items: baseline;
  background: #00325c;
  height: 60px;
  padding: 5px 0;
}
/* line 717, style/sass/_global.scss */
.footer-bottom .container {
  padding: 10px 0 0;
  width: 100%;
}
/* line 722, style/sass/_global.scss */
.footer-bottom .elefint-mark {
  font-size: 12px;
  color: white;
  display: inline-block;
  float: right;
  margin-right: 1em;
}
/* line 728, style/sass/_global.scss */
.footer-bottom .elefint-mark svg {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -10px;
}
/* line 735, style/sass/_global.scss */
.footer-bottom .elefint-mark a {
  display: inline-block;
  vertical-align: middle;
}
/* line 736, style/sass/_global.scss */
.footer-bottom .elefint-mark .mark-text {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.35em;
}
/* line 740, style/sass/_global.scss */
.footer-bottom .elefint-mark .mark-text b {
  text-indent: -12px;
  display: block;
}
/* line 745, style/sass/_global.scss */
.footer-bottom .elefint-mark .st0 {
  fill: #231E20;
}
/* line 746, style/sass/_global.scss */
.footer-bottom .elefint-mark .st1 {
  fill: #ffffff;
}
/* line 748, style/sass/_global.scss */
.footer-bottom .copyright {
  display: inline-block;
  color: white;
  font-size: 18px;
  font-family: "proxima-nova",sans-serif;
  line-height: 24px;
  font-size: 14px;
  line-height: 1em;
  color: white;
  padding: 10px 0;
  margin-left: 1em;
  float: left;
}
@media (max-width: 600px) {
  /* line 748, style/sass/_global.scss */
  .footer-bottom .copyright {
    line-height: 3em;
    padding: 0;
  }
}
@media (max-width: 600px) {
  /* line 711, style/sass/_global.scss */
  .footer-bottom {
    padding-top: 0;
  }
}

/* line 768, style/sass/_global.scss */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #4b2d91;
  z-index: 9999;
  color: white;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  overflow: auto;
}
/* line 782, style/sass/_global.scss */
.modal .container {
  -webkit-flex: 1;
  flex: 1;
  min-height: min-content;
  text-align: center;
  padding-top: 6.77966%;
}
/* line 786, style/sass/_global.scss */
.modal .container img, .modal .container .wp-caption {
  display: block;
  margin: auto;
  margin-bottom: 1.69492%;
}
/* line 787, style/sass/_global.scss */
.modal .container img {
  max-width: 90%;
  margin-bottom: 3.38983%;
}
/* line 788, style/sass/_global.scss */
.modal .container p.caption {
  display: block;
  max-width: 800px;
  margin: auto;
  padding: 0 1.69492%;
}
/* line 791, style/sass/_global.scss */
.modal .close {
  position: absolute;
  top: 40px;
  right: 40px;
  display: block;
  z-index: 9999;
  cursor: pointer;
}
/* line 798, style/sass/_global.scss */
.modal .close:before {
  content: url(style/images/icons/menu-close.png);
}

/* line 12, style/sass/style.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 17, style/sass/style.scss */
body.gis {
  color: #00325c;
  font-size: 18px;
  font-family: "proxima-nova",sans-serif;
  line-height: 24px;
}
/* line 20, style/sass/style.scss */
body.gis.home {
  background: #00325c;
}
/* line 22, style/sass/style.scss */
body.gis.home .mobile-menu {
  display: none;
}
/* line 27, style/sass/style.scss */
body.gis h1 {
  color: #ffa200;
  font-family: "akzidenz-grotesk";
  font-weight: 700;
  font-size: 2.875rem;
  line-height: 3.063rem;
}
@media (max-width: 600px) {
  /* line 27, style/sass/style.scss */
  body.gis h1 {
    font-size: 2.375rem;
  }
}
/* line 28, style/sass/style.scss */
body.gis h2 {
  color: #0d92ff;
  font-family: "akzidenz-grotesk";
  font-weight: 700;
  font-size: 1.55rem;
}
@media (max-width: 600px) {
  /* line 28, style/sass/style.scss */
  body.gis h2 {
    font-size: 1.75rem;
  }
}
/* line 29, style/sass/style.scss */
body.gis h3 {
  color: #00325c;
  font-family: "akzidenz-grotesk";
  font-weight: 700;
  font-size: 1rem;
}
@media (max-width: 600px) {
  /* line 29, style/sass/style.scss */
  body.gis h3 {
    font-size: 1rem;
  }
}
/* line 31, style/sass/style.scss */
body.gis input {
  -webkit-appearance: none;
  border-radius: 0;
}
/* line 36, style/sass/style.scss */
body.gis.home nav {
  text-align: center;
}
/* line 38, style/sass/style.scss */
body.gis.home nav li {
  display: inline-block;
  color: white;
}
/* line 41, style/sass/style.scss */
body.gis.home nav li a {
  color: white;
  font-family: "akzidenz-grotesk";
  font-weight: 700;
  font-size: 1rem;
  display: block;
  text-decoration: none;
  padding: 10px 20px;
  border-top: 5px solid #00325c;
}
@media (max-width: 600px) {
  /* line 41, style/sass/style.scss */
  body.gis.home nav li a {
    font-size: 1rem;
  }
}
/* line 47, style/sass/style.scss */
body.gis.home nav li a:hover {
  color: #0d92ff;
  border-top: 5px solid #0d92ff;
}
/* line 55, style/sass/style.scss */
body.gis.home header {
  text-align: center;
  margin: 75px 0 60px;
}
/* line 59, style/sass/style.scss */
body.gis section {
  margin: auto;
}
/* line 61, style/sass/style.scss */
body.gis section .container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.3/sass/susy/output/support/_clearfix.scss */
body.gis section .container:after {
  content: " ";
  display: block;
  clear: both;
}
@media (max-width: 600px) {
  /* line 61, style/sass/style.scss */
  body.gis section .container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.3/sass/susy/output/support/_clearfix.scss */
  body.gis section .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
/* line 68, style/sass/style.scss */
body.gis section.content {
  background-image: url(style/images/world-map-overlay.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top center;
}
/* line 73, style/sass/style.scss */
body.gis section.content .container {
  padding: 70px 0;
}
/* line 76, style/sass/style.scss */
body.gis section.content h1 {
  width: 83.05085%;
  margin: auto;
  max-width: 780px;
  text-align: center;
  margin-bottom: 75px;
}
@media (max-width: 600px) {
  /* line 76, style/sass/style.scss */
  body.gis section.content h1 {
    width: 83.05085%;
  }
}
/* line 86, style/sass/style.scss */
body.gis section.content p {
  color: white;
  font-size: 18px;
  font-family: "proxima-nova",sans-serif;
  line-height: 24px;
  width: 66.10169%;
  margin: auto;
  max-width: 620px;
  margin: auto;
  margin-bottom: 1.3em;
  text-align: center;
}
@media (max-width: 600px) {
  /* line 86, style/sass/style.scss */
  body.gis section.content p {
    width: 83.05085%;
    margin-bottom: 20px;
  }
}
/* line 101, style/sass/style.scss */
body.gis section.content .plus-list {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  color: white;
  font-size: 18px;
  font-family: "proxima-nova",sans-serif;
  line-height: 24px;
  font-family: "akzidenz-grotesk";
  font-weight: 700;
  padding: 100px 15.25424%;
}
/* line 12, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.3/sass/susy/output/support/_clearfix.scss */
body.gis section.content .plus-list:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 108, style/sass/style.scss */
body.gis section.content .plus-list li {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  text-align: center;
  text-transform: uppercase;
}
/* line 112, style/sass/style.scss */
body.gis section.content .plus-list li:not(:last-of-type) {
  border-right: 1px solid white;
}
/* line 115, style/sass/style.scss */
body.gis section.content .plus-list li:last-of-type {
  width: 32.20339%;
  float: right;
  margin-right: 0;
}
/* line 118, style/sass/style.scss */
body.gis section.content .plus-list li strong {
  color: #0d92ff;
}
@media (max-width: 600px) {
  /* line 101, style/sass/style.scss */
  body.gis section.content .plus-list {
    padding: 25px 6.77966%;
  }
  /* line 124, style/sass/style.scss */
  body.gis section.content .plus-list li, body.gis section.content .plus-list li:last-of-type, body.gis section.content .plus-list li:not(:last-of-type) {
    border-right: 0px;
    margin: auto;
    padding: 6.77966%;
    width: 66.10169%;
    float: none;
  }
  /* line 131, style/sass/style.scss */
  body.gis section.content .plus-list li:not(:last-of-type) {
    border-bottom: 1px solid white;
  }
}
/* line 138, style/sass/style.scss */
body.gis section.form {
  background-color: white;
  padding: 60px 0;
}
/* line 141, style/sass/style.scss */
body.gis section.form h2, body.gis section.form p {
  width: 49.15254%;
  margin: auto;
  text-align: center;
}
/* line 146, style/sass/style.scss */
body.gis section.form h2 {
  color: #00325c;
  font-family: "akzidenz-grotesk";
  font-weight: 700;
  font-size: 1.55rem;
  font-size: 1.75rem;
  margin-bottom: 1.69492%;
  text-align: center;
}
@media (max-width: 600px) {
  /* line 146, style/sass/style.scss */
  body.gis section.form h2 {
    font-size: 1.75rem;
  }
}
/* line 154, style/sass/style.scss */
body.gis section.form p.excerpt {
  width: 49.15254%;
  margin-bottom: 5.08475%;
  font-size: 0.875rem;
  line-height: 1.0625rem;
}
@media (max-width: 600px) {
  /* line 154, style/sass/style.scss */
  body.gis section.form p.excerpt {
    width: 83.05085%;
  }
}
/* line 164, style/sass/style.scss */
body.gis section.form p.email {
  margin-bottom: 5.08475%;
}
/* line 165, style/sass/style.scss */
body.gis section.form p.personal-info {
  color: #95989b;
  font-size: 18px;
  font-family: "proxima-nova",sans-serif;
  line-height: 24px;
  font-size: .75rem;
  width: 83.05085%;
  margin: auto;
  max-height: 0px;
  text-align: center;
  overflow: hidden;
  -webkit-transition: all .5s;
  transition: all .5s;
}
/* line 178, style/sass/style.scss */
body.gis section.form p.personal-info.active {
  max-height: 9999px;
  margin-bottom: 5.08475%;
  opacity: 1;
  -webkit-transition: all .5s;
  transition: all .5s;
}
/* line 186, style/sass/style.scss */
body.gis section.form p.personal-info span {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
}
/* line 188, style/sass/style.scss */
body.gis section.form p.personal-info span input {
  width: 100%;
  margin-bottom: 10px;
}
/* line 192, style/sass/style.scss */
body.gis section.form p.personal-info span:last-of-type {
  width: 32.20339%;
  float: right;
  margin-right: 0;
}
@media (max-width: 600px) {
  /* line 196, style/sass/style.scss */
  body.gis section.form p.personal-info span:not(:last-of-type), body.gis section.form p.personal-info span:last-of-type {
    display: block;
    float: none;
    margin: auto;
    width: 100%;
    margin-bottom: 5.08475%;
  }
}
/* line 208, style/sass/style.scss */
body.gis section.form input[type="text"], body.gis section.form input[type="email"] {
  color: #95989b;
  font-size: 18px;
  font-family: "proxima-nova",sans-serif;
  line-height: 24px;
  font-size: .75rem;
  border: none;
  border-bottom: 1px solid #95989b;
  outline: none;
  max-width: 100%;
  display: block;
  margin: 0;
  width: 100%;
}
/* line 61, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
body.gis section.form input[type="text"]:-moz-placeholder, body.gis section.form input[type="email"]:-moz-placeholder {
  text-transform: uppercase;
  color: #95989b;
}
/* line 64, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
body.gis section.form input[type="text"]::-moz-placeholder, body.gis section.form input[type="email"]::-moz-placeholder {
  text-transform: uppercase;
  color: #95989b;
}
/* line 67, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
body.gis section.form input[type="text"]:-ms-input-placeholder, body.gis section.form input[type="email"]:-ms-input-placeholder {
  text-transform: uppercase;
  color: #95989b;
}
/* line 56, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
body.gis section.form input[type="text"]::-webkit-input-placeholder, body.gis section.form input[type="email"]::-webkit-input-placeholder {
  text-transform: uppercase;
  color: #95989b;
}
/* line 211, style/sass/style.scss */
body.gis section.form input[type="submit"] {
  padding: 10px 15px;
  background-color: #ffa200;
  border: none;
  color: #00325c;
  cursor: pointer;
  font-family: "proxima-nova",sans-serif;
  font-size: 1rem;
  font-weight: 600;
}
/* line 215, style/sass/style.scss */
body.gis section.form div.wpcf7 img.ajax-loader {
  display: block;
  margin: auto;
  margin-top: 5px;
}
@media (max-width: 600px) {
  /* line 222, style/sass/style.scss */
  body.gis section.form h2, body.gis section.form p, body.gis section.form p.personal-info {
    width: 83.05085%;
  }
  /* line 223, style/sass/style.scss */
  body.gis section.form span {
    width: 100%;
  }
}
