{# <div class="site-notice closed">
	<div class="container">
		<span class="heading">{{ notice.heading }}</span>
		<span class="notice-text">{{ notice.text }}</span>
		<button class="close"></button>
	</div>
</div> #}

<div class="modal closed" id="speedbump" role="dialog" tabindex="-1">
	<div id="external-link" class="modal-content modal-dialog">
		<button class="close" data-dismiss="modal" type="button"></button>
		<div class="modal-header">
		</div>

		<div class="modal-body">
			<h3>You are now leaving New Resource Bank's website.</h3>
			<p>You are about to enter a website that New Resource Bank does not operate. We provided this link for your convenience, but New Resource is not responsible for the  content, links, privacy, or security of this website.</p>
		</div>

		<div class="modal-footer">
			<a class="button filled" id="url_link">Continue to <span class="link-address">otherwebsite.com</span></a>
			<button class="dismiss" data-dismiss="modal">Or return to newresourcebank.com</a></button>
		</div>
	</div>
	<div id="email-link" class="modal-content modal-dialog">
		<button class="close" data-dismiss="modal" type="button"></button>
		<div class="modal-header">
		</div>

		<div class="modal-body">
			<h3>Reminder: For your protection, never send confidential or personal information such as account numbers and passwords via email.</h3>
		</div>

		<div class="modal-footer">
			<a class="button filled" id="url_link">Continue to <span class="email-address"></span></a>
			<button class="dismiss" data-dismiss="modal">Or return to newresourcebank.com</a></button>
		</div>
	</div>
</div>