
<form class="slideout-search">
	<span class="switch"></span>
	{{ form }}
{# 	<input type="text" placeholder="{{ field.placeholder }}" />
	<input type="submit" value="{{ field.submit_value }}"/>	 #}
	<span class="close"></span>
</form>