<header class="site-header">
	<div class="container">
		<span class="logo-box">
			<a class="logo" href="{{ site.url }}"></a>
		</span>
		{{ menu }}
		{# {{ search }} #}
		<span class="menu-button"></span>
	</div>
	<div class="mobile-menu">
		{{ menu }}
	</div>
</header>