<div class="gallery-img" 
	style="background-image: url('{{ slide.medium[0] }}')"
	data-cycle-pager-template="<span class='thumb' data-src='{{ slide.full[0] }}' style='background-image: url({{ slide.medium[0] }})'/></span>"
	></div>
