/** Brand Styles **/

// Colors 
$gold: #ffa200;
$lightblue: #0d92ff;
$darkblue: #00325c;
$gray: #95989b;
$lightgray: #d2d2d2;
$textgray: #969696;
$purple: #4b2d91;

// Images
$image-path: 'style/images';

$logo: url(#{$image-path}/GiStrat_logo.svg);

$dotmap: url(#{$image-path}/world-map-overlay.png);
$hashborder: url(#{$image-path}/hash-border.png);

$twitter: url(#{$image-path}/icons/Tw-blue.png);
$facebook: url(#{$image-path}/icons/FB-blue.png);
$linkedin: url(#{$image-path}/icons/Linkedin.png);
$email: url(#{$image-path}/icons/email.png);
$menu-button: url(#{$image-path}/icons/menu-button.png);
$menu-close: url(#{$image-path}/icons/menu-close.png);
$pager-next: url(#{$image-path}/arrow-right.png);
$pager-prev: url(#{$image-path}/arrow-left.png);
$pager-next-blue: url(#{$image-path}/arrow-right-blue.png);
$pager-prev-blue: url(#{$image-path}/arrow-left-blue.png);


// Typography
$textsize: 18px;
@mixin Body($color){
	color: $color;
	font-size: 18px;
	font-family: "proxima-nova",sans-serif;
	line-height: 24px;
}

@mixin Header1($color){
	color: $color;
	font-family: "akzidenz-grotesk";
	font-weight: 700; 
	font-size: 2.875rem;
	line-height: 3.063rem;

	@include breakpoint($maxmobile) {
		font-size: 2.375rem;
	}
}

@mixin Header2($color){
	color: $color;
	font-family: "akzidenz-grotesk";
	font-weight: 700; 
	font-size: 1.55rem;

	@include breakpoint($maxmobile) {
		font-size: 1.75rem;
	}
}

@mixin Header3($color){
	color: $color;
	font-family: "akzidenz-grotesk";
	font-weight: 700; 
	font-size: 1rem;

	@include breakpoint($maxmobile) {
		font-size: 1rem;
	}

}

@mixin textinput{
	@include Body($gray);
	font-size: .75rem;
	border: none;
	border-bottom: 1px solid $gray;
	outline: none;
	max-width: 100%;
    display: block;
    margin: 0;
    width: 100%;
	@include input-placeholder{
		text-transform: uppercase;
		color: $gray;
	}
}

@mixin button($textcolor, $backgroundcolor){
	padding: 10px 15px;
	background-color: $backgroundcolor;
	border: none;
	color: $textcolor;
	cursor: pointer;
	font-family: "proxima-nova",sans-serif;
	font-size: 1rem;
	font-weight: 600; //Semibold; 
}

@mixin hashborder{
	-moz-border-image:$hashborder 11 0 repeat; /* Old Firefox */
	  -webkit-border-image:$hashborder 11 0 repeat; /* Safari */
	  -o-border-image:$hashborder 11 0 repeat; /* Opera */
	  border-image:$hashborder 11 0 repeat;
}