body:not(.home){

	@mixin PageHeader3($color){
		color: $color;
		font-family: "akzidenz-grotesk";
		font-weight: 700; 
		font-size: 1.375rem;

		@include breakpoint($maxmobile) {
			font-size: 1.25rem;
		}

	}

	@mixin PageHeader4($color){
		color: $color;
		font-family: "akzidenz-grotesk";
		font-weight: 700; 
		font-size: .88em;
		text-transform: uppercase;

		@include breakpoint($maxmobile) {
			font-size: 1rem;
		}

	}
	@mixin PageHeader5($color){
		color: $color;
		font-family: "akzidenz-grotesk";
		font-weight: 700; 
		font-size: .88em;

		@include breakpoint($maxmobile) {
			font-size: 1rem;
		}

	}

	padding-top: 90px;

	header.site-header {
		position: fixed;
		top: 0;
		width: 100%;
		background: white;
		@include hashborder;
		border-top: 11px solid transparent;
		z-index: 9999;

		@include breakpoint($maxmobile){
			border-top: 0;
		}

		&::after{
			content: "";
			display: block;
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 2px;
			background: $lightblue;
		}

		.logo-box {
			@include span(3);
		}
		.logo {
			background-image: url(#{$image-path}/GiStrat_logo.svg);
			background-repeat: no-repeat;
			background-position: left center;
			display: inline-block;
			float: left;
			width: 150px;
			height: 50px;
			margin: 13px 0;
			&.small {
				background-image: url(#{$image-path}/small-logo.svg);
			}
		}
		nav {
			display: inline-block;
			vertical-align: middle;
			@include span(9 last); 
			li{
				display: inline-block;
				a {
					@include Header3($darkblue);
					display: inline-block;
					padding: 27px 20px;
					text-decoration: none;
					border-top: 11px solid transparent;
					margin-top: -11px;
					&:hover {
						border-top-color: $lightblue;
					}
				}
			}

			@include breakpoint($maxtablet){
				display: none;
			}
		}

		.mobile-menu {
			display: block;
			max-height: 0px;
			min-height: 0vh;
			overflow: hidden;
			position: absolute;
			top: 100%; 
			left: 0;
			nav {
				display: block; 
				padding: 20px 0;
				@include container($container);
				li {
					display: block;
					text-align: left;
					a {
						color: white;
						border-bottom: 2px solid transparent;
						font-size: 1.833334em;
						width: span(8);
						border-bottom: 2px solid transparent;
						border-top: 0;
						margin-top: .5em;
						&:hover {
							border-bottom: 2px solid white;
						}
					}
				}
			}
			@include breakpoint($maxtablet){
				display: block;
				width: 100%;
				overflow: hidden;
				background: rgba( $lightblue, .8 );
				padding: 0;
				@include transition(.25s linear);

				&.open{
					min-height: 100vh;
					max-height: 9999px;
				}
			}

			@include breakpoint($maxmobile){
				nav li a{ font-size: 1.55556rem; }
			}
		}

		.menu-button {
			display: none; 
			width: 22px;
			height: 22px;
			right: 0;
			top: 0;
			bottom: 0;
			left: auto;
			margin: auto;
			position: absolute;
			background: $menu-button no-repeat;
			background-position: center center;

			&.open {
				background-image: $menu-close;
			}

			@include breakpoint($maxtablet){
				display: block;
			}
		}
	}
	&.admin-bar {
		padding-top: 92px;
		header.site-header {
			top: 32px;
		}
	}

	.hero {
			background-size: cover;
			@include hashborder;
			border-bottom: 11px solid transparent;
			max-width: $container;
			margin: 0 auto 60px;
			overflow: hidden;

			@include breakpoint($maxtablet){
				max-width: 100%;
			}

			img { 
				display: block;
				height: auto; 
				width: 100%;
				@include breakpoint($maxtablet){
					width: auto;
					height: 85vw;
				}
			}
		}


	.page-content {
		* { 
			@include selection($lightblue, white); 
		}

		&.no-hero {
			padding-top: 40px;
		}

		// @extend .container;
		.container > * {
			&::after {
				content: '';
				display: block;
				clear: both;
			}
		}
		.alignright {
			float: right;
			margin-left: 20px;
			margin-bottom: 20px;
			@include breakpoint($maxmobile){
				float: left;
				width: 100% !important;
				text-align: center;
				margin: 20px 0;
			}
		}
		.alignleft {
			float: left;
			margin-right: 20px;
			margin-bottom: 20px;
		}
	
		strong {
			font-weight: 700;
		}

		h1 {
			 @include Header1($lightblue);
			 font-size: 2.875rem;
			 margin-bottom: 25px;
		}

		h2 {
			 @include Header2($darkblue);
			 font-size: 2.125rem;
			 margin-bottom: .5rem;
		}

		h3 {
			 @include PageHeader3($lightblue);
			 margin-bottom: .5rem;
		}

		h4 {
			 @include PageHeader4($lightblue);
			 margin-bottom: 0em;
		}
		h5 {
			 @include PageHeader5($darkblue);
			 margin-bottom: .5em;
		}
		blockquote { 
			border: 1px solid $lightgray;
			border-width: 1px 0px;
			color: $textgray;
			margin: 40px 0;
			padding: 40px 0;
			width: span(10);
			font-weight: bold;
			h2 { 
				color: $textgray; 
				line-height: 1.235295em;
			}
			@include breakpoint($maxmobile){
				@include span(12);
				h2{
					font-size: 22px;
				}
			}
		}
		.wp-caption {
			img { width: 100%; height: auto; display: block; cursor:pointer; }
			.wp-caption-text {
				background: $darkblue;
				color: white;
				font-size: .667rem;
				line-height: 1em;
				padding: 10px;
				text-align: left;
	
				@include breakpoint($maxmobile){
					font-size: 0.75rem;
				}
			}
		}

		.content{
			margin-top: 1.5em;
			ul {
				padding: 1em 0; 
				li{
					display: list-item;
					list-style: disc inside;
					list-style-position: outside;
					margin-left: 1em;
					margin-bottom: 1em;
					&:last-of-type{
						margin-bottom: 0;
					}
					ol, ul {
						padding: 1em .5em .5em;
						margin-left: 2em;
					}
					ol {
						li {
						    list-style-type: none;
						    counter-increment: list;
						    position: relative;
						}

						li:after {
						    content: counter(list) ".";
						    position: absolute;
						    left: -2.5em;
						    top:0;
						    width: 2em;
						    text-align: right;
						    color: $lightblue;
						}
					}

				}
			}
		}
		.read-more {
			display: inline-block;
			background: $lightblue;
			color: white; 
			padding: 10px;
			margin-top: 2em;
			text-decoration: none;
			@include PageHeader5(white); 
		}
		.section-divider {
			height: 1em;
			border-top: 1px solid $lightgray;
			width: 100%;
			margin: 4em 0 2em;
			.heading{
			    display: block;
			    margin-top: -17px;
			    margin-left: 1em;
			    background: $purple;
			    width: 170px;
			    padding: 5px;
			    text-align: center;
			    text-transform: uppercase;
			    color: white;
			    @include PageHeader5(white);
			}
		}

		.two-column {
			@include column-count(2);
			@include column-gap(30px);

			@include breakpoint($maxmobile) {
				@include column-count(1);
			}
		}

		.profile {
			margin: 120px 0 40px;
			.thumbnail{
				background: $lightblue;
				@include border-radius(50%);
				border: 3px solid $lightblue;
				margin-right: 1em;
				float: left;
				display: block;
			}
			img {
				display: block;
			}
			.details {
				@include span(8);
				h5 {
					font-size: 1.22222em;
					display: inline-block;
					color: $lightblue;
					padding-right: 10px;
					margin-bottom: 0;
				}
				.social {
					border-left: 1px solid $lightgray;
					display: inline-block;
					padding: 0 10px;
					line-height: 1em;
					a {
						background-position: center;
						background-repeat: no-repeat;
						display: inline-block;
						vertical-align: middle;
						height: 20px;
						width: 20px;
						margin-right: 5px; 
						text-decoration: none;
						color: $textgray;
						text-align: center;
						@include transition(.2s linear );
						&:hover {
							color: $lightblue;
						}
						.icon-envelope {
							font-size: 16px;
						}
					}
				}
				.title {
					font-size: .8em;
					color: $textgray;
					margin-bottom: 10px;
					line-height: 1.3em;
				}
			}
			.description {
				// font-size: .88rem;
				color: $textgray;
				line-height: 1.3em;
				@include span(8)
			}
			@include breakpoint($maxmobile) {
				.thumbnail {
					@include span(4);
					img{
						width: 100%;
						height: auto;
					}
				}
				.details {
					@include span(8 last);
					.social {
						border-left: none;
						padding: 0;
						margin-bottom: 10px;
					}
				}
				.description {
					clear: both;
					margin-top: 1em;
					@include span(12);
				}
			}

			&::after {
				content: "";
				display: block;
				clear: both;
			}
		}

		.gallery.cycle-slideshow {
			padding: 20px 0;

			h2 {
				@include Header1($lightblue);
				margin-bottom: 1em;
			}

			.cycle-slide {
				width: 100%;
				.slide-container{
					@include display-flex;
					@include align-items(center);
					& > * {
						display: inline-block;
					}
				}
			}

			.pager-container {
				#cycle-prev, #cycle-next{
					margin: auto;
					width: 26px;
					height: 49px;
					position: absolute;
					top: 0px;
					bottom: 0px;
					cursor: pointer;
					z-index: 1000;
				}
				#cycle-prev{
					background: $pager-prev;
					left: 0;
					right: auto;
				}
				#cycle-next{
					background: $pager-next;
					left: auto; 
					right: 0;
				}
				.cycle-pager { 
					display: none;
				}
			}
		}

		.thumbnail-slider {
			margin: 60px 0;
			h2 {
				@include Header1($lightblue);
				margin-bottom: 40px;
			}
			.gallery {
				.cycle-slide {
					padding: 0 60px;
					.slide-container{
						@include flex-direction(row);
					}


					.thumbnail {
						width: span(5);
						margin-right: gutter();
						text-align: center; 
						@include flex(1);

					}
					.text {
						width: span(7);
						@include flex(2 1);
					}
				}
				@include breakpoint($maxmobile) {
					.cycle-slide { 
						padding: 0;
						.slide-container {
							@include flex-direction(column);
							.thumbnail {
								padding: 20px 0;
							}
							.thumbnail, .text {
								width: span(12);
							}
						}
					}
					.pager-container {
						#cycle-prev, #cycle-next{
							top: 20px;
							bottom: auto;
						}
					}
				}				
			}
		}
		.gallery-slider {
			.gallery.cycle-slideshow {
				.cycle-slide {
					.slide-container{
						@include flex-direction(column);
						img, .caption{
							width: 100%;
						}
						img { 
							height: auto;
							min-height: 0;
						}
						.caption {
							color: white;
							background-color: $darkblue;
							padding: 10px;
							font-size: .75rem;
							line-height: 1.16667em;
						}
					}
				}
				.pager-container {
					#cycle-prev, #cycle-next{
					    height: 40px;
					    background-size: contain !important;
					    background-repeat: no-repeat !important;

					    @include breakpoint($maxmobile){
						    top: 55px;
						    bottom: auto;
					    }
					}
					#cycle-prev{
						background: $pager-prev-blue;
						left: 20px;
					}
					#cycle-next{
						background: $pager-next-blue;
						right: 20px;
					}
				}
			}
		}

	}

	.contact-form{
		display: block;
		border: 15px solid transparent;
		border-width: 11px 0;
		margin: 40px auto;
		@include hashborder;
		.wpcf7 {
			background-color: white;
			padding: 60px 0;
			h2,p{
				width: span(6);
				margin: auto;
				text-align: center;
			}
			h2 {
				@include Header2($darkblue);

				font-size: 1.75rem;
				margin-bottom: gutter();
				text-align: center;
				line-height: 1.3em;

				@include breakpoint($maxtablet){
					font-size: 2.125rem;
				}
			}
			p {
				&.excerpt { 
					width: span(6);
					margin-bottom: gutter()*3; 
					font-size: 0.875rem;
					line-height: 1.0625rem;

					@include breakpoint($maxmobile){
						width: span(10);
					}
				}
				&.email { margin-bottom: gutter()*3; }
				&.personal-info { 
					@include Body($gray);
					font-size: .75rem;
					width: span(10);
					margin: auto;
					max-height: 0px;
					text-align: center;
					// opacity: 0;
					overflow: hidden;

					-webkit-transition: all .5s;
    				transition: all .5s;

					&.active{
						max-height: 9999px;
						margin-bottom: gutter()*3;
						opacity: 1;
						-webkit-transition: all .5s;
	    				transition: all .5s;
					}

					span { 
						@include span(4);
						input {
							width: 100%;
							margin-bottom: 10px;
						}
						&:last-of-type{
							@include span(4 last);
						} 
						@include breakpoint($maxmobile){
							&:not(:last-of-type), &:last-of-type{
							display: block;
							float: none;
							margin: auto;
							width: span(12);
							margin-bottom: gutter()*3;

							}
						}
					}
				}
			}
			input[type="text"], input[type="email"]{
				@include textinput;
			}
			input[type="submit"]{
				@include button(white,$lightblue); 
			}
			
			img.ajax-loader {
			    display: block;
			    margin: auto;
			    margin-top: 5px;
			}

			@include breakpoint($maxmobile){
				h2,p, p.personal-info{ width: span(10); }
				span{ width: 100%; }
			}
		}
	}

}

.footer-bottom{
	@include display-flex;
	@include align-items(baseline);
	background: $darkblue;
	height: 60px;
	padding: 5px 0;
	.container { 
		padding: 10px 0 0; 
		width: 100%
		
	}
	.elefint-mark{ 
		font-size: 12px;
		color: white;
		display: inline-block;
		float: right;
		margin-right: 1em;
		svg {
			width: 50px;
			height: 50px;
			display: inline-block;
			vertical-align: middle;
			margin-top: -10px;
		}
		a { display: inline-block; vertical-align: middle;  }
		.mark-text{
			display: inline-block;
			vertical-align: middle;
			line-height: 1.35em;
			b{
				text-indent: -12px;
				display: block;
			}
		}
		.st0{fill:#231E20;}
		.st1{fill:#ffffff;}
	}
	.copyright{
		display: inline-block;
		@include Body(white);
		font-size: 14px;
		line-height: 1em;
		color: white;
		padding: 10px 0;
		margin-left: 1em;
		float: left;
		@include breakpoint($maxmobile){
			line-height: 3em;
			padding: 0;
		}
	}
	@include breakpoint($maxmobile){
		padding-top: 0;
		.copyright {}
	}
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: $purple;
	z-index: 9999;
	color: white;

	@include display-flex;
	@include flex-direction(row);
	@include align-items(flex-start);
	overflow: auto;
	.container {
		@include flex(1);
		min-height: min-content;
		text-align: center;
		img, .wp-caption{ display: block; margin: auto; margin-bottom: gutter(); }
		img { max-width: 90%; margin-bottom: gutter()*2; }
		p.caption { display: block; max-width: 800px; margin: auto; padding: 0 gutter(); } 
		padding-top: gutter() * 4;
	}
	.close{
		position: absolute;
		top: 40px;
		right: 40px;
		display: block;
		z-index: 9999;
		cursor: pointer;
		&:before {
			content: $menu-close;
		}
	}
}