// Requirements
// ============

@import "susy";
@import "breakpoint";

$susy: (
  columns: 12,
  gutters: 1/4,
);

$container: 1024px;
$maxtablet: max-width 800px;
$maxmobile: max-width 600px;

.container {
	width: $container;
	@include container(95%);
	position: relative;
	@include breakpoint($maxtablet){
		width: calc( 100% - 88px );
	}
	@include breakpoint($maxmobile){
		width: calc( 100% - 40px );
	}
}
