/* 
	Theme Name: Splash Pages - Fint16 Child Theme
	Template: Fint16 
*/

@import "compass";
@import "compass/css3/selection";
@import "grids";
@import "brand";
@import "global";

* {
	@include box-sizing(border-box);	
}


body.gis {
	@include Body($darkblue);

	&.home {
		background: $darkblue;
		.mobile-menu {
			display: none;
		}
	}

	h1 { @include Header1($gold); }
	h2 { @include Header2($lightblue); }
	h3 { @include Header3($darkblue); }

	input {
	    -webkit-appearance: none;
	    border-radius: 0;
	}

	&.home nav {
		text-align: center;
		li {
			display: inline-block;
			color: white;
			a {
				@include Header3(white);
				display: block;
				text-decoration: none;
				padding: 10px 20px;
				border-top: 5px solid $darkblue;
				&:hover {
					color: $lightblue;
					border-top: 5px solid $lightblue;
				}
			}
		}
	}

	&.home header {
		text-align: center;
		margin: 75px 0 60px;
	}
	section{
		margin: auto;
		.container{
			@include container($container);
			@include breakpoint($maxmobile){
				@include container($maxmobile);
			}
		}

		&.content{
			background-image: $dotmap;
			background-size: 100% auto;
			background-repeat: no-repeat;
			background-position: top center;
			.container{
				padding: 70px 0;
			}
			h1 {
				width: span( 10 );
				margin: auto;
				max-width: 780px;
				text-align: center;
				margin-bottom: 75px;
				@include breakpoint($maxmobile){
					width: span(10);
				}
			}
			p {
				@include Body(white);
				width: span( 8 );
				margin: auto;
				max-width: 620px;
				margin: auto;
				margin-bottom: 1.3em;
				text-align: center;
				// width: 75%;
				@include breakpoint($maxmobile){
					width: span(10);
					margin-bottom: 20px;
				}
			}

			.plus-list {
				@include container(100%);
				margin: auto;
				@include Body(white);
				font-family: "akzidenz-grotesk";
				font-weight: 700; 
				padding: 100px span(2);
				li {
					@include span(4);
					text-align: center;
					text-transform: uppercase;
					&:not(:last-of-type){
						border-right: 1px solid white;
					}
					&:last-of-type{
						@include span(4 last);
					}
					strong {
						color: $lightblue;
					}
				}
				@include breakpoint($maxmobile){
					padding: 25px span(1);
					li, li:last-of-type, li:not(:last-of-type){
						border-right: 0px;
						margin: auto;
						padding: gutter()*4;
						width: span(8);
						float: none;
					}
					li:not(:last-of-type){
						border-bottom: 1px solid white;
					}

				}
			}
		}
		&.form{
			background-color: white;
			padding: 60px 0;
			h2,p{
				width: span(6);
				margin: auto;
				text-align: center;
			}
			h2 {
				@include Header2($darkblue);

				font-size: 1.75rem;
				margin-bottom: gutter();
				text-align: center;
			}
			p {
				&.excerpt { 
					width: span(6);
					margin-bottom: gutter()*3; 
					font-size: 0.875rem;
					line-height: 1.0625rem;

					@include breakpoint($maxmobile){
						width: span(10);
					}
				}
				&.email { margin-bottom: gutter()*3; }
				&.personal-info { 
					@include Body($gray);
					font-size: .75rem;
					width: span(10);
					margin: auto;
					max-height: 0px;
					text-align: center;
					// opacity: 0;
					overflow: hidden;

					-webkit-transition: all .5s;
    				transition: all .5s;

					&.active{
						max-height: 9999px;
						margin-bottom: gutter()*3;
						opacity: 1;
						-webkit-transition: all .5s;
	    				transition: all .5s;
					}

					span { 
						@include span(4);
						input {
							width: 100%;
							margin-bottom: 10px;
						}
						&:last-of-type{
							@include span(4 last);
						} 
						@include breakpoint($maxmobile){
							&:not(:last-of-type), &:last-of-type{
							display: block;
							float: none;
							margin: auto;
							width: span(12);
							margin-bottom: gutter()*3;

							}
						}
					}
				}
			}
			input[type="text"], input[type="email"]{
				@include textinput;
			}
			input[type="submit"]{
				@include button($darkblue,$gold); 
			}
			
			div.wpcf7 img.ajax-loader {
			    display: block;
			    margin: auto;
			    margin-top: 5px;
			}

			@include breakpoint($maxmobile){
				h2,p, p.personal-info{ width: span(10); }
				span{ width: 100%; }
			}
		}
	}

}