{% set columnclass = layout.columns == "2" ? 'two-column' : '' %}
<div class="content {{ columnclass }}">
	{% if layout.heading %}
		<h2>{{ layout.heading }}</h2>
	{% endif %}
	<div class="column">
		{{ layout.editor }}
	</div>
	{% if layout.columns == "2" %}
		<div class="column">
			{{ layout.editor_col2 }}
		</div>
	{% endif %}
</div>