{% set slides = layout.slides %}
{% set slide_template = "view/layout/gallery_slide.twig" %}
<div class="gallery-slider">
	<h2 class="heading">{{ layout.heading }}</h2>
	{% include "components/gallery/view/gallery.twig" %}
</div>