<li class="cycle-slide"> 
	<div class="slide-container">
		<img src="{{ slide.image.url }}"/>
		{% if slide.image.caption %}
			<div class="caption"><p>{{ slide.image.caption }}</p></div>
		{% endif %}
</li>