<div class="profile">
	<span class="thumbnail">
		<img src="{{ layout.thumbnail.url }}" alt="{{ layout.thumbnail.alt }}"/>
	</span>
	<div class="details">
		<div class="heading">
			<h5>{{ layout.name }}</h5>
			<span class="social">
				{% for network in layout.social_icons %}
					<a href="" class=""><i class="icon-{{ network.network|lower }}"></i></a>
				{% endfor %}
			</span>
		</div>
		<h6 class="title">{{ layout.title }}</h6>
	</div>
	<p class="description">{{ layout.description }}
	{% if layout.read_more %}
		<br><a class="read-more" href="{{ layout.read_more }}">Read More</a>
	{% endif %}
	</p>
</div>