{% set slides = layout.slides %}
{% set slide_template = "view/layout/thumbnail_slide.twig" %}
<div class="thumbnail-slider">
	<h2 class="heading">{{ layout.heading }}</h2>
	{% include "components/gallery/view/gallery.twig" %}
</div>